*{
    box-sizing: border-box;
}
#horrible-quote{
    background-color: silver;
}

#gallery{
    display: inline-block;
    width:500px;
    padding-bottom: 50px;
}
#pic-1{
    width: 250px;
}

#pic-2{
    width:250px;
}

.pic{
    display: inline;
}
.nav > li{
    text-decoration: none;
    display: inline-block;
    color: purple;
}

h2 {
    padding: 40px;
    background-color: orange;
    border: solid 4px red;
}

body{
    background-color: green;
    margin-top: 10px;
    margin-bottom: 32px;
}

body > p{
    font-size: 200px;
    font-weight: bold;
}
